set default="0"
set timeout=5

insmod all_video
insmod gfxterm
insmod png

set gfxmode=auto
terminal_gfxterm

menuentry "TaaOS Live" --class taaos --class os {
    linux /live/vmlinuz boot=live components quiet splash
    initrd /live/initrd.img
}

menuentry "TaaOS Live (Recovery Mode)" --class taaos --class os {
    linux /live/vmlinuz boot=live components single
    initrd /live/initrd.img
}

menuentry "TaaOS Installer" --class taaos --class os {
    linux /install/vmlinuz vga=788 --- quiet
    initrd /install/initrd.gz
}

menuentry "Boot from local drive" --class os {
    insmod chain
    chainloader +1
}
